

 #title {
  color: red;
}

.description {
  color: blue;
}
span{
  display: inline-block;
  font-size: 300px;
}

.box {
  background-color: silver;
  width: 300px;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  top: 30px;
  left: 40px;
}